<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="organizationsTests.CreateMultipleOrgWithInIndustry"/>
      <class name="contactsTest.CreateContactWithOrganizationTest"/>
      <class name="contactsTest.CreateContactTest"/>
      <class name="organizationsTests.CreateOrganizationTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
